.div
	= image_tag "booger.jpeg", class: "small-image", :id => "image-1-small"
	= image_tag "booger.jpeg", class: "show-image", :id => "image-1-large"
%br
.div
	= image_tag "booger-candy.jpg", class: "small-image", :id => "image-2-small"
	= image_tag "booger-candy.jpg", class: "show-image", :id => "image-2-large"